# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out

# Folders

# compile and testing work files
vk_config.json
vkalert.cfg